<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Dodatne informacije</th>
        <th scope="col">Termin izbora</th>
        <th scope="col">Broj prijavljenih listi</th>
        <th scope="col">Tip izbora</th>
        <th scope="col">Zahtev za prijavu</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let izbor of izbori">
        <th scope="row">{{izbor.dodatneInfo}}</th>
        <td>{{izbor.terminIzbora | date: 'dd.MM.yyyy'}}</td>
        <td>{{izbor.brPrijavljenihListi}}</td>
        <td>{{getTipIzbora(izbor.tipIzboraId)}}</td>  
        <td>
          <button 
            type="button" 
            style="width: 100px; align-items: center;" 
            class="btn btn-success" 
            (click)="prijaviIzbListu(izbor)">
            Pošaljite
          </button>
        </td>
      </tr>
    </tbody>
  </table>   
</body>
</html>
